# core

> Fill in a module description here

In [ ]:
#| default_exp core

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
def foo(): pass

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()

In [ ]:
#| export
def say_hello(to):
    "Say hello to somebody"
    return f'Hello {to}!'

In [ ]:
say_hello("Isaac")

'Hello Isaac!'

# test de création de paragraphe

Ceci est le début d'une toute nouvelle aventure.

In [ ]:
import numpy as np
list_ = range(10)
print(np.mean(list_))

# Ajout de fonctionnalités

Commençons par créer une fonction à exporter

In [ ]:
#| export
class HelloSayer:
    "Say hello to `to` using `say_hello`"
    def __init__(self, to): self.to = to
        
    def say(self):
        "Do the saying"
        return say_hello(self.to)

To show a documentation

In [ ]:
show_doc(HelloSayer.say)

# Load a dataset

We will start with a dataset in sklearn

In [ ]:
from sklearn import datasets
import pandas as pd

# Load iris dataset from sklearn
iris = datasets.load_iris()

# Convert it to pandas DataFrame
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

# If you want to add the target to the DataFrame
df['target'] = iris.target

In [ ]:
# Now you can use the DataFrame as usual
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2